<div id="frst_p">
  <h1>Donjons et Dragons 5<sup>ème</sup> édition</h1>
  <div id="frst_bloc">
    <div id="ps">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at sem euismod, interdum nisl et, laoreet est. Praesent et mollis libero, ut tristique lacus. Nam ultrices blandit ultrices. Pellentesque interdum lobortis ex nec volutpat. Morbi pellentesque nulla at tincidunt congue. Etiam lacus justo, ultrices nec libero volutpat, tristique hendrerit odio. Mauris non gravida enim. Praesent luctus sit amet mi id condimentum. Donec vel lectus bibendum, hendrerit risus et, vehicula tortor.</p>
      <p>Curabitur nec ipsum sed purus pulvinar lacinia quis ut mauris. Integer placerat varius dignissim. Integer quis lacus rhoncus quam sagittis posuere. Nunc ornare orci ut faucibus tincidunt. In pharetra sollicitudin nulla, ut aliquam augue auctor vel. Fusce id finibus velit. Quisque blandit nisi eu sapien porta, placerat volutpat nisi pharetra. Nulla facilisi. Proin lacinia vel odio non efficitur. Proin dolor lorem, interdum id justo eget, finibus mollis risus. Pellentesque feugiat varius lorem convallis facilisis. Nam augue est, suscipit nec augue nec, euismod malesuada dui.</p>
    </div>
    <img src="assets/encyclopednd.png" alt="image Encyclopé'DnD"/>
  </div>
</div>
